body{
    background-color: beige;
}
#StartMessage{
    text-align: center;
    font-size: 20px;
    
}
#gameTable{
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    top: 30;
}
#gameTable th{
    padding: 10px;
    background-color: #333;
    color: white;
}
#gameTable td{
    padding: 10px;
}
#gameCanvas{
    background-color:blueviolet;
    border: 1px solid white;
    margin: auto;
    display: flex;
}
#score{
    font-size: 24px;
    font-weight: bold;
}